@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    background-image: url(my-website/images/ELFA1949DSC01315_TP_V.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: white;
}

footer {
    background-color: whitesmoke;
    background-size: cover;
}