@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 200px;
    /* background-color: white; */
    background-image: url(my-website/images/ELFA1949DSC01315_TP_V.jpg);
    background-position: center;
    background-size: cover;
}

body {
    background-color: white;
}

footer {
    background-color: whitesmoke;
}