@charset "utf-8";

header {
    background-color: white;
    background-image: url(../images/ELFA1949DSC01315_TP_V.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: white;
}

footer {
    background-color: whitesmoke;
    background-size: cover;
}